In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('EWLI_RawData.xlsx')

##### 1. Basics

In [3]:
#slice basics section from main dataframe
df_basics = df.loc[:, 'start':'a_hh']

In [4]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 34 columns):
start                 11260 non-null object
end                   11260 non-null object
today                 11260 non-null datetime64[ns]
Intro                 0 non-null float64
City                  11260 non-null object
Enumerator            11260 non-null object
enumj_id              0 non-null float64
loc_herat             11260 non-null object
loc_jbad              0 non-null float64
a_basics/a01          11260 non-null object
a_basics/a02          11260 non-null object
a_basics/a03          11260 non-null object
a_basics/a03_other    48 non-null object
b_hh/b01a             11260 non-null int64
b_hh/b01b             11260 non-null int64
b02a                  11260 non-null int64
b02b                  11260 non-null int64
b03a                  11260 non-null int64
/b03b                 11260 non-null int64
b04a                  11260 non-null int64
b04b                  11260 non-null int64
b05a                  11260 non-null int64
b05b                  11260 non-null int64
b06a                  11204 non-null float64
b06b                  11260 non-null int64
hh_male               11260 non-null int64
hh_female             11260 non-null int64
hh_total              11260 non-null int64
hh_eligbilefem        11260 non-null int64
hh_girls              11260 non-null int64
hh_boys               11260 non-null int64
hh_lit_female         11260 non-null int64
hh_lit_male           11260 non-null int64
a_hh                  9908 non-null object
dtypes: datetime64[ns](1), float64(4), int64(19), object(10)
memory usage: 2.9+ MB

In [5]:
# dropping empty columns
df_basics_cleaned = df_basics.drop(['Intro', 'enumj_id', 'loc_jbad', 'a_basics/a03_other', 'a_hh'], axis=1)

In [6]:
df_basics_cleaned['b06a'].isnull().sum()

56

In [7]:
df_basics_cleaned[df_basics_cleaned['b06a'].isnull()][['b03a', 'b04a', 'b06a']]

       b03a  b04a  b06a
75        0     0   NaN
288       2     4   NaN
543       0     1   NaN
2238      2     1   NaN
2390      0     1   NaN
2949      0     1   NaN
3307      0     0   NaN
3313      0     2   NaN
3357      2     1   NaN
4118      0     1   NaN
4189      2     1   NaN
4263      1     1   NaN
4275      0     1   NaN
4374      2     1   NaN
4691      1     1   NaN
4696      1     2   NaN
4702      0     1   NaN
5149      0     1   NaN
5155      1     1   NaN
5157      2     1   NaN
5158      2     1   NaN
5160      0     1   NaN
5330      1     3   NaN
5336      0     1   NaN
5338      0     1   NaN
5340      0     5   NaN
5766      3     1   NaN
5797      0     3   NaN
5947      0     4   NaN
5983      1     2   NaN
6374      1     3   NaN
6706      0     1   NaN
6732      0     1   NaN
6739      0     2   NaN
6806      1     1   NaN
6909      1     1   NaN
6978      1     1   NaN
7436      0     1   NaN
7931      1     1   NaN
8001      0     1   NaN
8341      2     2   NaN
8847      2     1   NaN
8857      0     2   NaN
8866      0     2   NaN
9081      0     1   NaN
9082      0     2   NaN
9083      0     1   NaN
9617      0     2   NaN
9644      0     1   NaN
9848      0     3   NaN
9894      1     1   NaN
9900      0     1   NaN
10020     1     2   NaN
10417     1     1   NaN
11104     0     1   NaN
11153     3     1   NaN

In [8]:
# filling NaN values from b06a column with values from b03a column
df_basics_cleaned.b06a.fillna(df_basics_cleaned.b03a, inplace=True)

In [9]:
#converting b06a column from float to int
df_basics_cleaned.b06a = df_basics_cleaned.b06a.astype('int64')

In [10]:
df_basics_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 29 columns):
start             11260 non-null object
end               11260 non-null object
today             11260 non-null datetime64[ns]
City              11260 non-null object
Enumerator        11260 non-null object
loc_herat         11260 non-null object
a_basics/a01      11260 non-null object
a_basics/a02      11260 non-null object
a_basics/a03      11260 non-null object
b_hh/b01a         11260 non-null int64
b_hh/b01b         11260 non-null int64
b02a              11260 non-null int64
b02b              11260 non-null int64
b03a              11260 non-null int64
/b03b             11260 non-null int64
b04a              11260 non-null int64
b04b              11260 non-null int64
b05a              11260 non-null int64
b05b              11260 non-null int64
b06a              11260 non-null int64
b06b              11260 non-null int64
hh_male           11260 non-null int64
hh_female         11260 non-null int64
hh_total          11260 non-null int64
hh_eligbilefem    11260 non-null int64
hh_girls          11260 non-null int64
hh_boys           11260 non-null int64
hh_lit_female     11260 non-null int64
hh_lit_male       11260 non-null int64
dtypes: datetime64[ns](1), int64(20), object(8)
memory usage: 2.5+ MB

In [11]:
df_basics_cleaned.describe()

,b_hh/b01a,b_hh/b01b,b02a,b02b,b03a,/b03b,b04a,b04b,b05a,b05b,b06a,b06b,hh_male,hh_female,hh_total,hh_eligbilefem,hh_girls,hh_boys,hh_lit_female,hh_lit_male
count,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000
mean,0.837833,0.773890,0.942806,0.974600,0.834103,0.801066,1.587922,1.581794,0.201599,0.153020,0.963943,0.989254,4.284369,4.404263,8.688632,2.422025,1.776909,1.775666,2.623623,2.535879
std,1.529294,1.068667,1.092619,1.145462,1.034879,1.009520,1.192985,1.190216,0.430060,0.443579,1.168896,1.173837,2.836102,3.055106,5.257947,1.683516,1.655990,1.671146,1.750463,1.762386
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,4.000000,4.000000,7.000000,2.000000,2.000000,2.000000,2.000000,2.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,0.000000,0.000000,1.000000,2.000000,5.000000,5.000000,10.000000,3.000000,3.000000,3.000000,3.000000,3.000000
max,41.000000,18.000000,10.000000,25.000000,11.000000,20.000000,32.000000,11.000000,8.000000,8.000000,30.000000,22.000000,52.000000,49.000000,76.000000,33.000000,18.000000,25.000000,33.000000,25.000000

##### 10. Interest to participate in the program

In [12]:
#slice interest section from main dataframe
df_interest = df.loc[:, 'k_interest/k01':'k_interest/k_participate/k05/ben_men']

In [13]:
df_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 17 columns):
k_interest/k01                                11260 non-null object
k_interest/k_participate/k_note               0 non-null float64
k_interest/k_participate/k_label              0 non-null float64
k_interest/k_participate/k_label/ben_women    0 non-null float64
k_interest/k_participate/k_label/ben_men      0 non-null float64
k_interest/k_participate/k02                  5137 non-null object
k_interest/k_participate/k02/ben_women        5137 non-null float64
k_interest/k_participate/k02/ben_men          5137 non-null float64
k_interest/k_participate/k03                  7306 non-null object
k_interest/k_participate/k03/ben_women        7306 non-null float64
k_interest/k_participate/k03/ben_men          7306 non-null float64
k_interest/k_participate/k04                  8926 non-null object
k_interest/k_participate/k04/ben_women        8926 non-null float64
k_interest/k_participate/k04/ben_men          8926 non-null float64
k_interest/k_participate/k05                  4000 non-null object
k_interest/k_participate/k05/ben_women        4000 non-null float64
k_interest/k_participate/k05/ben_men          4000 non-null float64
dtypes: float64(12), object(5)
memory usage: 1.5+ MB

In [14]:
# dropping empty columns
df_interest_cleaned = df_interest.drop(['k_interest/k_participate/k_note', 'k_interest/k_participate/k_label', 'k_interest/k_participate/k_label/ben_women', 'k_interest/k_participate/k_label/ben_men', 'k_interest/k_participate/k02/ben_women', 'k_interest/k_participate/k02/ben_men', 'k_interest/k_participate/k03/ben_women', 'k_interest/k_participate/k03/ben_men', 'k_interest/k_participate/k04/ben_women', 'k_interest/k_participate/k04/ben_men', 'k_interest/k_participate/k05/ben_women', 'k_interest/k_participate/k05/ben_men'], axis=1)

In [15]:
df_interest_cleaned.columns

Index(['k_interest/k01', 'k_interest/k_participate/k02',
       'k_interest/k_participate/k03', 'k_interest/k_participate/k04',
       'k_interest/k_participate/k05'],
      dtype='object')

In [16]:
df_interest_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 5 columns):
k_interest/k01                  11260 non-null object
k_interest/k_participate/k02    5137 non-null object
k_interest/k_participate/k03    7306 non-null object
k_interest/k_participate/k04    8926 non-null object
k_interest/k_participate/k05    4000 non-null object
dtypes: object(5)
memory usage: 439.9+ KB

In [17]:
df_interest_cleaned[df_interest_cleaned['k_interest/k01']=='no'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1311 entries, 5 to 11237
Data columns (total 5 columns):
k_interest/k01                  1311 non-null object
k_interest/k_participate/k02    0 non-null object
k_interest/k_participate/k03    0 non-null object
k_interest/k_participate/k04    0 non-null object
k_interest/k_participate/k05    0 non-null object
dtypes: object(5)
memory usage: 61.5+ KB

In [18]:
# Rows with 'no'(people who doesn't want to participate in the program) 
# have NaN values in other columns as well. 
# Changing those 'Nan' to 'not_participating'. 
df_interest_cleaned[df_interest_cleaned['k_interest/k01']=='no'] = df_interest_cleaned[df_interest_cleaned['k_interest/k01']=='no'].fillna('not_participating')

In [19]:
df_interest_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 5 columns):
k_interest/k01                  11260 non-null object
k_interest/k_participate/k02    6448 non-null object
k_interest/k_participate/k03    8617 non-null object
k_interest/k_participate/k04    10237 non-null object
k_interest/k_participate/k05    5311 non-null object
dtypes: object(5)
memory usage: 439.9+ KB

In [20]:
df_interest_cleaned

,k_interest/k01,k_interest/k_participate/k02,k_interest/k_participate/k03,k_interest/k_participate/k04,k_interest/k_participate/k05
0,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_men
1,yes,ben_women,NaN,ben_women,ben_women
2,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
3,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
4,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
5,no,not_participating,not_participating,not_participating,not_participating
6,yes,ben_women,ben_women,ben_women,NaN
7,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_men
8,yes,ben_women ben_men,ben_women,ben_women ben_men,NaN
9,yes,NaN,ben_women,ben_women,NaN
10,yes,ben_women,ben_women ben_men,ben_women ben_men,ben_men
11,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_men
12,yes,NaN,NaN,NaN,NaN
13,no,not_participating,not_participating,not_participating,not_participating
14,no,not_participating,not_participating,not_participating,not_participating
15,no,not_participating,not_participating,not_participating,not_participating
16,yes,NaN,NaN,NaN,NaN
17,yes,NaN,NaN,NaN,NaN
18,yes,NaN,NaN,NaN,NaN
19,yes,NaN,NaN,NaN,NaN
20,yes,ben_women,ben_women,ben_women,NaN
21,yes,ben_women,ben_women,ben_women,NaN
22,yes,ben_women,NaN,ben_women,NaN
23,yes,NaN,NaN,NaN,NaN
24,yes,NaN,NaN,NaN,NaN
25,yes,NaN,NaN,NaN,NaN
26,yes,NaN,NaN,NaN,NaN
27,yes,NaN,NaN,NaN,NaN
28,yes,NaN,ben_women,ben_women,NaN
29,yes,NaN,ben_women,ben_women ben_men,ben_women
...,...,...,...,...,...
11230,yes,NaN,NaN,NaN,ben_women
11231,yes,NaN,NaN,ben_women,NaN
11232,yes,NaN,NaN,NaN,ben_women
11233,yes,NaN,NaN,ben_women,NaN
11234,yes,NaN,NaN,ben_women,NaN
11235,no,not_participating,not_participating,not_participating,not_participating
11236,no,not_participating,not_participating,not_participating,not_participating
11237,no,not_participating,not_participating,not_participating,not_participating
11238,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11239,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11240,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11241,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11242,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11243,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11244,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11245,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11246,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11247,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11248,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11249,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11250,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11251,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11252,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11253,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11254,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11255,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11256,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11257,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11258,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11259,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men

In [21]:
#Dealing with the rest of NaN values.
#In many rows NaN values are only in some columns, 
#which means the interest of participation only in chosen activities. 
#I'll put 'not_interested' instead of 'NaN'. 
df_interest_cleaned = df_interest_cleaned.fillna('not_interested')

In [22]:
# renaming columns
df_interest_cleaned = df_interest_cleaned.rename(index=str, columns={'k_interest/k01': 'interested', 'k_interest/k_participate/k02': 'int_self_help_learning_groups', 'k_interest/k_participate/k03': 'int_literacy_trainings', 'k_interest/k_participate/k04': 'int_vocational_trainings', 'k_interest/k_participate/k05': 'int_community_led_micro_finance_banks'})

In [23]:
df_interest_cleaned.describe()

,interested,int_self_help_learning_groups,int_literacy_trainings,int_vocational_trainings,int_community_led_micro_finance_banks
count,11260,11260,11260,11260,11260
unique,2,5,5,5,5
top,yes,not_interested,ben_women ben_men,ben_women ben_men,not_interested
freq,9949,4812,3426,3974,5949

In [24]:
df_interest_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11260 entries, 0 to 11259
Data columns (total 5 columns):
interested                               11260 non-null object
int_self_help_learning_groups            11260 non-null object
int_literacy_trainings                   11260 non-null object
int_vocational_trainings                 11260 non-null object
int_community_led_micro_finance_banks    11260 non-null object
dtypes: object(5)
memory usage: 527.8+ KB

In [25]:
# Interest section data is completely categorical. 
# For future analysis creating dummy variables.
df_interest_cleaned = pd.get_dummies(df_interest_cleaned)

In [26]:
df_interest_cleaned.head()

,interested_no,interested_yes,int_self_help_learning_groups_ben_men,int_self_help_learning_groups_ben_women,int_self_help_learning_groups_ben_women ben_men,int_self_help_learning_groups_not_interested,int_self_help_learning_groups_not_participating,int_literacy_trainings_ben_men,int_literacy_trainings_ben_women,int_literacy_trainings_ben_women ben_men,...,int_vocational_trainings_ben_men,int_vocational_trainings_ben_women,int_vocational_trainings_ben_women ben_men,int_vocational_trainings_not_interested,int_vocational_trainings_not_participating,int_community_led_micro_finance_banks_ben_men,int_community_led_micro_finance_banks_ben_women,int_community_led_micro_finance_banks_ben_women ben_men,int_community_led_micro_finance_banks_not_interested,int_community_led_micro_finance_banks_not_participating
0,0,1,0,0,1,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
1,0,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,0,1,0,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
3,0,1,0,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
4,0,1,0,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0