In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('EWLI_RawData.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Columns: 460 entries, start to _submitted_by
dtypes: bool(39), datetime64[ns](3), float64(199), int64(37), object(182)
memory usage: 36.6+ MB

In [71]:
df.columns[275:350]

Index(['f_access/f07b1/taz_useful', 'f_access/f07b1/taz_needed',
       'f_access/f07b1/taz_expensive', 'f_access/f07b1/taz_knowledge',
       'f_access/f07b1/taz_lengthy', 'f_access/f07b1/taz_origin',
       'f_access/f07b1/other', 'f_access/f07b1_other', 'f_access/f08',
       'f_access/f09', 'f_access/f10', 'f_access/f10_other', 'f_access/f11',
       'f_access/f11/hissue_lack', 'f_access/f11/hissue_long',
       'f_access/f11/hissue_cost', 'f_access/f11/hissue_qualified',
       'f_access/f11/hissue_med', 'f_access/f11/hissue_femdoc',
       'f_access/f11/hissue_femnurse', 'f_access/f11/hissue_all',
       'f_access/f11/hissue_none', 'f_access/f11/other', 'f_access/f11_other',
       'g_social/g01', 'h_assets/h01', 'h_assets/h01_other', 'h_assets/h01a',
       'h_assets/h02', 'h_assets/h03', 'h_assets/h03_other', 'h_assets/h04',
       'h_assets/h04/livestock_cattle', 'h_assets/h04/livestock_buffalo',
       'h_assets/h04/livestock_horse', 'h_assets/h04/livestock_donkey',
       'h_assets/h04/livestock_mule', 'h_assets/h04/livestock_poultry',
       'h_assets/h04/livestock_goat', 'h_assets/h04/livestock_sheep',
       'h_assets/h04/livestock_none', 'h_assets/h04/other',
       'h_assets/h04_other', 'h_assets/h_dai/h_dai_lab', 'h_assets/h_dai/h05',
       'h_assets/h_dai/h06', 'h_assets/h_dai/h07', 'h_assets/h_dai/h08',
       'h_assets/h_dai/h09', 'h_assets/h_dai/h10', 'h_assets/h_dai/h11',
       'h_assets/h_dai/h12', 'h_assets/h_dai/h13', 'h_assets/h_dai/h14',
       'h_assets/h_dai/h15', 'h_assets/h_dai/h16', 'h_assets/h_dai/h17',
       'h_assets/h18', 'h_assets/h19', 'h_assets/h20', 'h_assets/h21',
       'h_assets/h22', 'h_assets/h23', 'i_adaptive/i01',
       'i_adaptive/i01income_count', 'i_adaptive/i04', 'i_adaptive/i05',
       'i_adaptive/i05a', 'i_adaptive/i05a1', 'i_adaptive/i05a1/school_work',
       'i_adaptive/i05a1/school_document', 'i_adaptive/i05a1/school_far',
       'i_adaptive/i05a1/school_ill', 'i_adaptive/i05a1/school_useful',
       'i_adaptive/i05a1/school_monet'],
      dtype='object')

##### 1. Basics

In [4]:
#slice basics section from main dataframe
df_basics = df.loc[:, 'start':'a_hh']

In [5]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 34 columns):
start                 11260 non-null object
end                   11260 non-null object
today                 11260 non-null datetime64[ns]
Intro                 0 non-null float64
City                  11260 non-null object
Enumerator            11260 non-null object
enumj_id              0 non-null float64
loc_herat             11260 non-null object
loc_jbad              0 non-null float64
a_basics/a01          11260 non-null object
a_basics/a02          11260 non-null object
a_basics/a03          11260 non-null object
a_basics/a03_other    48 non-null object
b_hh/b01a             11260 non-null int64
b_hh/b01b             11260 non-null int64
b02a                  11260 non-null int64
b02b                  11260 non-null int64
b03a                  11260 non-null int64
/b03b                 11260 non-null int64
b04a                  11260 non-null int64
b04b                  11260 non-null int64
b05a                  11260 non-null int64
b05b                  11260 non-null int64
b06a                  11204 non-null float64
b06b                  11260 non-null int64
hh_male               11260 non-null int64
hh_female             11260 non-null int64
hh_total              11260 non-null int64
hh_eligbilefem        11260 non-null int64
hh_girls              11260 non-null int64
hh_boys               11260 non-null int64
hh_lit_female         11260 non-null int64
hh_lit_male           11260 non-null int64
a_hh                  9908 non-null object
dtypes: datetime64[ns](1), float64(4), int64(19), object(10)
memory usage: 2.9+ MB

In [6]:
# dropping empty columns
df_basics_cleaned = df_basics.drop(['Intro', 'enumj_id', 'loc_jbad', 'a_basics/a03_other', 'a_hh'], axis=1)

In [7]:
df_basics_cleaned['b06a'].isnull().sum()

56

In [8]:
df_basics_cleaned[df_basics_cleaned['b06a'].isnull()][['b03a', 'b04a', 'b06a']]

       b03a  b04a  b06a
75        0     0   NaN
288       2     4   NaN
543       0     1   NaN
2238      2     1   NaN
2390      0     1   NaN
2949      0     1   NaN
3307      0     0   NaN
3313      0     2   NaN
3357      2     1   NaN
4118      0     1   NaN
4189      2     1   NaN
4263      1     1   NaN
4275      0     1   NaN
4374      2     1   NaN
4691      1     1   NaN
4696      1     2   NaN
4702      0     1   NaN
5149      0     1   NaN
5155      1     1   NaN
5157      2     1   NaN
5158      2     1   NaN
5160      0     1   NaN
5330      1     3   NaN
5336      0     1   NaN
5338      0     1   NaN
5340      0     5   NaN
5766      3     1   NaN
5797      0     3   NaN
5947      0     4   NaN
5983      1     2   NaN
6374      1     3   NaN
6706      0     1   NaN
6732      0     1   NaN
6739      0     2   NaN
6806      1     1   NaN
6909      1     1   NaN
6978      1     1   NaN
7436      0     1   NaN
7931      1     1   NaN
8001      0     1   NaN
8341      2     2   NaN
8847      2     1   NaN
8857      0     2   NaN
8866      0     2   NaN
9081      0     1   NaN
9082      0     2   NaN
9083      0     1   NaN
9617      0     2   NaN
9644      0     1   NaN
9848      0     3   NaN
9894      1     1   NaN
9900      0     1   NaN
10020     1     2   NaN
10417     1     1   NaN
11104     0     1   NaN
11153     3     1   NaN

In [9]:
# filling NaN values from b06a column with values from b03a column
df_basics_cleaned.b06a.fillna(df_basics_cleaned.b03a, inplace=True)

In [10]:
#converting b06a column from float to int
df_basics_cleaned.b06a = df_basics_cleaned.b06a.astype('int64')

In [11]:
df_basics_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 29 columns):
start             11260 non-null object
end               11260 non-null object
today             11260 non-null datetime64[ns]
City              11260 non-null object
Enumerator        11260 non-null object
loc_herat         11260 non-null object
a_basics/a01      11260 non-null object
a_basics/a02      11260 non-null object
a_basics/a03      11260 non-null object
b_hh/b01a         11260 non-null int64
b_hh/b01b         11260 non-null int64
b02a              11260 non-null int64
b02b              11260 non-null int64
b03a              11260 non-null int64
/b03b             11260 non-null int64
b04a              11260 non-null int64
b04b              11260 non-null int64
b05a              11260 non-null int64
b05b              11260 non-null int64
b06a              11260 non-null int64
b06b              11260 non-null int64
hh_male           11260 non-null int64
hh_female         11260 non-null int64
hh_total          11260 non-null int64
hh_eligbilefem    11260 non-null int64
hh_girls          11260 non-null int64
hh_boys           11260 non-null int64
hh_lit_female     11260 non-null int64
hh_lit_male       11260 non-null int64
dtypes: datetime64[ns](1), int64(20), object(8)
memory usage: 2.5+ MB

In [12]:
df_basics_cleaned.describe()

,b_hh/b01a,b_hh/b01b,b02a,b02b,b03a,/b03b,b04a,b04b,b05a,b05b,b06a,b06b,hh_male,hh_female,hh_total,hh_eligbilefem,hh_girls,hh_boys,hh_lit_female,hh_lit_male
count,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000,11260.000000
mean,0.837833,0.773890,0.942806,0.974600,0.834103,0.801066,1.587922,1.581794,0.201599,0.153020,0.963943,0.989254,4.284369,4.404263,8.688632,2.422025,1.776909,1.775666,2.623623,2.535879
std,1.529294,1.068667,1.092619,1.145462,1.034879,1.009520,1.192985,1.190216,0.430060,0.443579,1.168896,1.173837,2.836102,3.055106,5.257947,1.683516,1.655990,1.671146,1.750463,1.762386
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,4.000000,4.000000,7.000000,2.000000,2.000000,2.000000,2.000000,2.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,0.000000,0.000000,1.000000,2.000000,5.000000,5.000000,10.000000,3.000000,3.000000,3.000000,3.000000,3.000000
max,41.000000,18.000000,10.000000,25.000000,11.000000,20.000000,32.000000,11.000000,8.000000,8.000000,30.000000,22.000000,52.000000,49.000000,76.000000,33.000000,18.000000,25.000000,33.000000,25.000000

##### 2. Origin

In [13]:
#slice origin section from main dataframe
df_origin = df.loc[:, 'c_origin/c01':'c_origin/c06_other']

In [14]:
df_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 44 columns):
c_origin/c01                     11260 non-null object
c_origin/c01aa                   7330 non-null object
c_origin/c01ab                   430 non-null object
c_origin/c01ab_other             1 non-null object
c_origin/c01ac                   436 non-null object
c_origin/c01ac_other             13 non-null object
c_origin/c02pre                  10321 non-null object
c_origin/c02pre_other            53 non-null object
c_origin/c02                     10142 non-null object
c_origin/c03                     10085 non-null object
c_origin/c03a                    10101 non-null object
c_origin/c03c                    3881 non-null object
c_origin/c03c_other              44 non-null object
c_origin/c01agroup/c01a          2543 non-null object
c_origin/c01agroup/c01atime      3909 non-null datetime64[ns]
c_origin/c01bgroup/c01b          2524 non-null object
c_origin/c01bgroup/c01btime      3909 non-null datetime64[ns]
c_origin/c01c                    10400 non-null object
c_origin/c01c/pull_close         10400 non-null float64
c_origin/c01c/pull_safe          10400 non-null float64
c_origin/c01c/pull_relatives     10400 non-null float64
c_origin/c01c/pull_jobs          10400 non-null float64
c_origin/c01c/pull_education     10400 non-null float64
c_origin/c01c/pull_health        10400 non-null float64
c_origin/c01c/pull_assistance    10400 non-null float64
c_origin/c01c/pull_leader        10400 non-null float64
c_origin/c01c/pull_gov           10400 non-null float64
c_origin/c01c/other              10400 non-null float64
c_origin/c01c_other              181 non-null object
c_origin/c02a                    10739 non-null object
c_origin/c02b                    484 non-null object
c_origin/c03b                    475 non-null object
c_origin/c04                     10755 non-null object
c_origin/c05                     6833 non-null object
c_origin/c05_other               20 non-null object
c_origin/c06                     137 non-null object
c_origin/c06/why_insecurity      137 non-null float64
c_origin/c06/why_persecution     137 non-null float64
c_origin/c06/why_livelihoods     137 non-null float64
c_origin/c06/why_shelter         137 non-null float64
c_origin/c06/why_land            137 non-null float64
c_origin/c06/why_services        137 non-null float64
c_origin/c06/other               137 non-null float64
c_origin/c06_other               5 non-null object
dtypes: datetime64[ns](2), float64(17), object(25)
memory usage: 3.8+ MB

In [15]:
# dropping columns not identified in baseline_questionnaire 
columns_identified = ['c_origin/c01', 'c_origin/c02', 'c_origin/c03', 'c_origin/c03a', 'c_origin/c01agroup/c01a', 'c_origin/c01agroup/c01atime', 'c_origin/c01bgroup/c01b', 'c_origin/c01bgroup/c01btime', 'c_origin/c01c', 'c_origin/c02a', 'c_origin/c02b', 'c_origin/c03b', 'c_origin/c04']
# creating df_origin_cleaned
df_origin = df_origin[columns_identified]

In [16]:
df_origin.head()

,c_origin/c01,c_origin/c02,c_origin/c03,c_origin/c03a,c_origin/c01agroup/c01a,c_origin/c01agroup/c01atime,c_origin/c01bgroup/c01b,c_origin/c01bgroup/c01btime,c_origin/c01c,c_origin/c02a,c_origin/c02b,c_origin/c03b,c_origin/c04
0,yes,herat,enjil,yndk_y,NaN,NaT,NaN,NaT,pull_relatives,no,NaN,NaN,yes
1,yes,herat,enjil,yndk_y,NaN,NaT,NaN,NaT,pull_relatives,no,NaN,NaN,no
2,yes,herat,enjil,yndk_y,NaN,NaT,NaN,NaT,NaN,no,NaN,NaN,no
3,yes,herat,zendahjan,yndk_y,NaN,NaT,NaN,NaT,NaN,no,NaN,NaN,no
4,yes,herat,enjil,yndk_y,NaN,NaT,NaN,NaT,NaN,no,NaN,NaN,no

In [17]:
# change NaN values to 'no_inf' 
cols_to_change = ['c_origin/c01', 'c_origin/c02', 'c_origin/c03', 'c_origin/c03a', 'c_origin/c01c', 'c_origin/c02a', 'c_origin/c02b', 'c_origin/c03b', 'c_origin/c04']
df_origin.loc[:, cols_to_change] = df_origin[cols_to_change].fillna('no_inf')

In [19]:
# calculating some of NaN values from 'c_origin/c01agroup/c01a' for which 'c_origin/c01agroup/c01atime' is not NaN
df_origin['today'] = df['today']

chunk_dt = df_origin.loc[(df_origin['c_origin/c01agroup/c01atime'].notnull())&(df_origin['c_origin/c01agroup/c01a'].isnull()),['c_origin/c01agroup/c01atime', 'today']]

chunk_dt['res'] = (chunk_dt['today'] - chunk_dt['c_origin/c01agroup/c01atime'])/np.timedelta64(1,'Y')

df_origin.loc[(df_origin['c_origin/c01agroup/c01atime'].notnull())&(df_origin['c_origin/c01agroup/c01a'].isnull()),['c_origin/c01agroup/c01a']] = chunk_dt['res']

In [20]:
def to_loc(x):
    if not isinstance(x,np.float): return x
    if np.isnan(x): return x
    
    if x < 1: return 'loc_1'
    if x > 3: return 'loc_3'
    else: return 'loc_1-3'
    return x
df_origin['c_origin/c01agroup/c01a'] = df_origin['c_origin/c01agroup/c01a'].apply(to_loc)

In [21]:
# dropping columns with dates 
df_origin.drop(['c_origin/c01agroup/c01atime', 'c_origin/c01bgroup/c01btime', 'today'], axis = 1, inplace = True)

In [22]:
# fill the rest of NaN values with 'no_inf' 
df_origin.fillna('no_inf', inplace = True)

In [23]:
df_origin.isnull().any().sum()

0

In [24]:
df_origin.rename(columns={'c_origin/c01': 'C01. Is your family originally from this city?', 'c_origin/c02': 'C02. Which province are you from?', 'c_origin/c03': 'C03. Which district in C02?', 'c_origin/c03a': 'C03a. Do you still have family members living in C03?', 'c_origin/c01agroup/c01a': 'C01a. When did you displace from your place of origin?', 'c_origin/c01bgroup/c01b': 'C01b. Since when are you living in the present location?', 'c_origin/c01c': 'C01c. What were the main reasons for choosing to settle in city?', 'c_origin/c02a': 'C02a. Have you been living in another district/province other than your place of origin before you came to city?', 'c_origin/c02b': 'C02b. In which province have you lived before you came to city?', 'c_origin/c03b': 'C03b. Which district in C02b?', 'c_origin/c04': 'C04. Have you lived abroad before moving to city?'}, inplace = True)

In [25]:
# cleaned
df_origin

,C01. Is your family originally from this city?,C02. Which province are you from?,C03. Which district in C02?,C03a. Do you still have family members living in C03?,C01a. When did you displace from your place of origin?,C01b. Since when are you living in the present location?,C01c. What were the main reasons for choosing to settle in city?,C02a. Have you been living in another district/province other than your place of origin before you came to city?,C02b. In which province have you lived before you came to city?,C03b. Which district in C02b?,C04. Have you lived abroad before moving to city?
0,yes,herat,enjil,yndk_y,no_inf,no_inf,pull_relatives,no,no_inf,no_inf,yes
1,yes,herat,enjil,yndk_y,no_inf,no_inf,pull_relatives,no,no_inf,no_inf,no
2,yes,herat,enjil,yndk_y,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
3,yes,herat,zendahjan,yndk_y,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
4,yes,herat,enjil,yndk_y,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
5,yes,herat,enjil,yndk_y,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
6,yes,herat,enjil,yndk_y,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
7,yes,herat,enjil,yndk_y,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
8,no,herat,enjil,yndk_y,loc_1,no_inf,no_inf,no,no_inf,no_inf,no
9,yes,herat,enjil,yndk_y,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
10,yes,herat,enjil,yndk_y,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
11,yes,herat,enjil,yndk_y,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
12,yes,badghis,badghiscenter,yndk_y,no_inf,no_inf,pull_jobs pull_education pull_health,no,no_inf,no_inf,no
13,yes,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
14,yes,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf
15,yes,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf
16,yes,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,yes
17,yes,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf
18,yes,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,yes
19,no,herat,enjil,yndk_n,loc_3,loc_1-3,pull_jobs,no,no_inf,no_inf,no
20,no,herat,guzera,yndk_n,loc_3,loc_3,pull_relatives,no,no_inf,no_inf,no
21,yes,herat,heratcenter,yndk_n,no_inf,no_inf,other,no,no_inf,no_inf,yes
22,yes,herat,zendahjan,yndk_n,no_inf,no_inf,pull_jobs pull_education,yes,kabul,kabulcenter,no
23,yes,no_inf,no_inf,no_inf,no_inf,no_inf,no_inf,no,no_inf,no_inf,no
24,yes,herat,heratcenter,yndk_y,no_inf,no_inf,pull_close,no,no_inf,no_inf,no
25,yes,herat,heratcenter,yndk_y,no_inf,no_inf,pull_relatives,no,no_inf,no_inf,no
26,no,herat,shindand,yndk_y,loc_3,loc_3,pull_relatives,no,no_inf,no_inf,no
27,yes,herat,heratcenter,yndk_y,no_inf,no_inf,pull_relatives,no,no_inf,no_inf,yes
28,yes,herat,karrukh,yndk_dk,no_inf,no_inf,pull_education pull_health,no,no_inf,no_inf,no
29,yes,herat,heratcenter,yndk_y,no_inf,no_inf,pull_safe pull_jobs pull_education,no,no_inf,no_inf,no
...,...,...,...,...,...,...,...,...,...,...,...
11230,yes,kapisa,nijrab,yndk_n,no_inf,no_inf,pull_safe,no,no_inf,no_inf,no
11231,no,laghman,alingar,yndk_n,loc_1-3,loc_1,pull_jobs,no,no_inf,no_inf,no
11232,yes,nangarhar,behsud,yndk_dk,no_inf,no_inf,pull_safe,no,no_inf,no_inf,no
11233,no,laghman,qarghayee,yndk_n,loc_3,loc_3,pull_jobs,no,no_inf,no_inf,no
11234,no,nangarhar,kuzkunar,yndk_n,loc_3,loc_1-3,pull_jobs,no,no_inf,no_inf,no
11235,no,nangarhar,nangarharcenter,yndk_n,loc_3,loc_3,pull_jobs,no,no_inf,no_inf,no
11236,no,laghman,alishing,yndk_n,loc_3,loc_3,pull_jobs,no,no_inf,no_inf,no
11237,yes,nangarhar,nangarharcenter,yndk_n,no_inf,no_inf,pull_jobs,no,no_inf,no_inf,no
11238,no,kunar,shigalwasheltan,yndk_n,loc_3,no_inf,pull_safe pull_relatives,no,no_inf,no_inf,yes
11239,no,kunar,kunar,yndk_n,loc_3,no_inf,pull_relatives pull_jobs pull_education pull_h...,yes,kabul,kabulcenter,yes
11240,no,nangarhar,batikor,yndk_n,loc_3,loc_3,pull_close pull_safe pull_relatives,no,no_inf,no_inf,yes
11241,no,nangarhar,batikor,yndk_n,loc_3,loc_3,pull_close pull_safe pull_relatives,no,no_inf,no_inf,yes
11242,no,nangarhar,batikor,yndk_n,loc_3,loc_1-3,pull_safe pull_relatives,no,no_inf,no_inf,yes
11243,no,nangarhar,batikor,yndk_n,loc_3,loc_3,pull_relatives,no,no_inf,no_inf,yes
11244,no,nangarhar,batikor,yndk_n,loc_3,loc_3,pull_safe pull_relatives pull_jobs pull_assist...,no,no_inf,no_inf,yes
11245,no,nangarhar,batikor,yndk_n,loc_3,loc_1-3,pull_safe pull_relatives pull_assistance,no,no_inf,no_inf,yes
11246,no,nangarhar,kuzkunar,yndk_n,loc_3,no_inf,pull_safe pull_relatives,no,no_inf,no_inf,yes
11247,no,nangarhar,kuzkunar,yndk_n,loc_3,no_inf,pull_safe pull_relatives,no,no_inf,no_inf,no
11248,no,nangarhar,kuzkunar,yndk_n,loc_3,no_inf,pull_relatives pull_jobs pull_assistance,no,no_inf,no_inf,no
11249,no,nangarhar,kuzkunar,yndk_n,loc_3,no_inf,pull_relatives,no,no_inf,no_inf,no
11250,no,nangarhar,kuzkunar,yndk_n,loc_3,no_inf,pull_relatives,no,no_inf,no_inf,no
11251,no,kunar,khaskunar,yndk_n,loc_3,loc_1,pull_safe,no,no_inf,no_inf,yes
11252,no,nangarhar,kuzkunar,yndk_n,loc_3,loc_1,pull_safe pull_relatives,no,no_inf,no_inf,yes
11253,no,kunar,daraepech,yndk_n,loc_3,no_inf,pull_safe,no,no_inf,no_inf,yes
11254,no,kunar,daraepech,yndk_n,loc_3,no_inf,pull_safe pull_relatives,no,no_inf,no_inf,yes
11255,no,kunar,chapadara,yndk_n,loc_3,no_inf,pull_safe pull_relatives,no,no_inf,no_inf,yes
11256,no,kunar,daraepech,yndk_n,loc_3,no_inf,pull_safe pull_relatives,no,no_inf,no_inf,yes
11257,no,kunar,daraepech,yndk_n,loc_3,no_inf,pull_safe pull_relatives,no,no_inf,no_inf,yes
11258,no,nangarhar,chaparhar,yndk_y,loc_3,no_inf,pull_safe pull_relatives,no,no_inf,no_inf,yes
11259,no,nangarhar,chaparhar,yndk_n,loc_3,no_inf,pull_safe pull_relatives pull_jobs,no,no_inf,no_inf,yes

##### 3. Displacement

In [153]:
#slice displacement section from main dataframe
df_displacement = df.loc[:, 'd_idps/d01':'d_idps/d08_other']

In [154]:
df_displacement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 87 columns):
d_idps/d01                      3420 non-null object
d_idps/d01/dis_armed            3420 non-null float64
d_idps/d01/dis_military         3420 non-null float64
d_idps/d01/dis_intimidation     3420 non-null float64
d_idps/d01/dis_tribal           3420 non-null float64
d_idps/d01/dis_land             3420 non-null float64
d_idps/d01/dis_feud             3420 non-null float64
d_idps/d01/dis_mines            3420 non-null float64
d_idps/d01/dis_shelling         3420 non-null float64
d_idps/d01/dis_naturaldis       3420 non-null float64
d_idps/d01/dis_economic         3420 non-null float64
d_idps/d01/other                3420 non-null float64
d_idps/d01_other                38 non-null object
d_idps/d02                      101 non-null object
d_idps/d02/inti_gov             101 non-null float64
d_idps/d02/inti_children        101 non-null float64
d_idps/d02/inti_recruitment     101 non-null float64
d_idps/d02/inti_persons         101 non-null float64
d_idps/d02/inti_gbv             101 non-null float64
d_idps/d02/inti_taxation        101 non-null float64
d_idps/d02/other                101 non-null float64
d_idps/d02_other                2 non-null object
d_idps/d03                      3116 non-null object
d_idps/d03/per_gov              3116 non-null float64
d_idps/d03/per_forces           3116 non-null float64
d_idps/d03/per_nong             3116 non-null float64
d_idps/d03/per_community        3116 non-null float64
d_idps/d03/per_criminal         3116 non-null float64
d_idps/d03/other                3116 non-null float64
d_idps/d03_other                994 non-null object
d_idps/d03a                     222 non-null object
d_idps/d03a/gov_ana             222 non-null float64
d_idps/d03a/gov_anp             222 non-null float64
d_idps/d03a/gov_civil           222 non-null float64
d_idps/d03a/gov_alp             222 non-null float64
d_idps/d03a/other               222 non-null float64
d_idps/d03a_other               4 non-null object
d_idps/d03b                     972 non-null object
d_idps/d03b/forces_coalition    972 non-null float64
d_idps/d03b/forces_other        972 non-null float64
d_idps/d03b/other               972 non-null float64
d_idps/d03b_other               6 non-null object
d_idps/d03c                     623 non-null object
d_idps/d03c/armed_age           623 non-null float64
d_idps/d03c/armed_local         623 non-null float64
d_idps/d03c/other               623 non-null float64
d_idps/d03c_other               0 non-null float64
d_idps/d03d                     165 non-null object
d_idps/d03d/comm_religious      165 non-null float64
d_idps/d03d/comm_elder          165 non-null float64
d_idps/d03d/comm_landlord       165 non-null float64
d_idps/d03d/other               165 non-null float64
d_idps/d03d_other               7 non-null object
d_idps/d04                      3552 non-null object
d_idps/d04a                     773 non-null object
d_idps/d04a/ev_rent             773 non-null float64
d_idps/d04a/ev_pressure         773 non-null float64
d_idps/d04a/ev_owner            773 non-null float64
d_idps/d04a/ev_doc              773 non-null float64
d_idps/d04a/ev_return           773 non-null float64
d_idps/d04a/ev_court            773 non-null float64
d_idps/d04a/ev_shura            773 non-null float64
d_idps/d04a/other               773 non-null float64
d_idps/d04a_other               16 non-null object
d_idps/d05                      3522 non-null object
d_idps/d05_other                5 non-null object
d_idps/d05a                     112 non-null object
d_idps/d06                      3562 non-null object
d_idps/d06/rr_stay              3562 non-null float64
d_idps/d06/rr_security          3562 non-null float64
d_idps/d06/rr_services          3562 non-null float64
d_idps/d06/rr_housing           3562 non-null float64
d_idps/d06/rr_relatives         3562 non-null float64
d_idps/d06/rr_jobs              3562 non-null float64
d_idps/d06/rr_disaster          3562 non-null float64
d_idps/d06/rr_conflict          3562 non-null float64
d_idps/d06/rr_assistance        3562 non-null float64
d_idps/d07                      3564 non-null object
d_idps/d08                      1340 non-null object
d_idps/d08/inte_land            1340 non-null float64
d_idps/d08/inte_school          1340 non-null float64
d_idps/d08/inte_job             1340 non-null float64
d_idps/d08/inte_serivces        1340 non-null float64
d_idps/d08/inte_hostile         1340 non-null float64
d_idps/d08/inte_gov             1340 non-null float64
d_idps/d08/other                1340 non-null float64
d_idps/d08_other                7 non-null object
dtypes: float64(64), object(23)
memory usage: 7.5+ MB

In [75]:
# In progress...

##### 4. Food access

In [56]:
df_food = df.loc[:, 'e_food/e_fcs/e_fcs_intro':'e_food/e35_other']

In [57]:
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 52 columns):
e_food/e_fcs/e_fcs_intro    0 non-null float64
e_food/e_fcs/e01            11260 non-null int64
e_food/e_fcs/e02            11260 non-null int64
e_food/e_fcs/e03            11260 non-null int64
e_food/e_fcs/e04            11260 non-null int64
e_food/e_fcs/e05            11260 non-null int64
e_food/e_fcs/e06            11260 non-null int64
e_food/e_fcs/e07            11260 non-null int64
e_food/e_fcs/e08            11260 non-null int64
e_food/e_fcs/e09            11260 non-null int64
e_food/e_hdds/e_hdds_lab    0 non-null float64
e_food/e_hdds/e10           11260 non-null object
e_food/e_hdds/e11           11260 non-null object
e_food/e_hdds/e12           11260 non-null object
e_food/e_hdds/e13           11260 non-null object
e_food/e_hdds/e14           11260 non-null object
e_food/e_hdds/e15           11260 non-null object
e_food/e_hdds/e16           11260 non-null object
e_food/e_hdds/e17           11260 non-null object
e_food/e_hdds/e18           11260 non-null object
e_food/e_hdds/e19           11260 non-null object
e_food/e_hdds/e20           11260 non-null object
e_food/e_hdds/e21           11260 non-null object
e_food/e_hdds/e22           11260 non-null object
e_food/e_hdds/e23           11260 non-null object
e_food/e_hdds/e24           11260 non-null object
0                           11260 non-null object
e_food/e_hfias/e25a         6812 non-null object
e_food/e_hfias/e26          11260 non-null object
e_food/e_hfias/e26a         6877 non-null object
e_food/e_hfias/e27          11260 non-null object
e_food/e_hfias/e27a         6572 non-null object
e_food/e_hfias/e28          11260 non-null object
e_food/e_hfias/e28a         6952 non-null object
e_food/e_hfias/e29          11260 non-null object
e_food/e_hfias/e29a         5321 non-null object
e_food/e_hfias/e30          11260 non-null object
e_food/e_hfias/e30a         4689 non-null object
e_food/e_hfias/e31          11260 non-null object
e_food/e_hfias/e31a         3411 non-null object
e_food/e_hfias/e32          11260 non-null object
e_food/e_hfias/e32a         2968 non-null object
e_food/e_hfias/e33          11260 non-null object
e_food/e_hfias/e33a         2648 non-null object
e_food/e34                  11260 non-null object
e_food/e34_other            25 non-null object
e_food/e35                  11260 non-null object
e_food/e35/food_taste       11260 non-null bool
e_food/e35/food_price       11260 non-null bool
e_food/e35/food_health      11260 non-null bool
e_food/e35/other            11260 non-null bool
e_food/e35_other            3 non-null object
dtypes: bool(4), float64(2), int64(9), object(37)
memory usage: 4.2+ MB

In [58]:
df_food.head()

,e_food/e_fcs/e_fcs_intro,e_food/e_fcs/e01,e_food/e_fcs/e02,e_food/e_fcs/e03,e_food/e_fcs/e04,e_food/e_fcs/e05,e_food/e_fcs/e06,e_food/e_fcs/e07,e_food/e_fcs/e08,e_food/e_fcs/e09,...,e_food/e_hfias/e33,e_food/e_hfias/e33a,e_food/e34,e_food/e34_other,e_food/e35,e_food/e35/food_taste,e_food/e35/food_price,e_food/e35/food_health,e_food/e35/other,e_food/e35_other
0,NaN,7,7,5,4,3,3,7,7,7,...,0,NaN,dec_femalehh,NaN,food_taste food_price,True,True,False,False,NaN
1,NaN,7,3,4,7,3,4,6,7,7,...,0,NaN,dec_femalehh,NaN,food_taste food_price,True,True,False,False,NaN
2,NaN,7,3,5,0,2,0,6,7,7,...,0,NaN,dec_femalehh,NaN,food_price,False,True,False,False,NaN
3,NaN,7,2,2,0,1,3,4,7,7,...,0,NaN,dec_femalehh,NaN,food_price,False,True,False,False,NaN
4,NaN,7,2,3,0,0,0,0,7,7,...,1,3,dec_femalehh,NaN,food_price,False,True,False,False,NaN

In [59]:
# dropping empty or duplicated columns
df_food.drop(['e_food/e_fcs/e_fcs_intro','e_food/e_hdds/e_hdds_lab', 'e_food/e34_other', 'e_food/e35/food_taste',
          'e_food/e35/food_price', 'e_food/e35/food_health', 'e_food/e35/other', 'e_food/e35_other'], axis=1, inplace = True)

In [60]:
df_food.rename(columns = {0:'e_food/e_hfias/e25'}, inplace = True)

In [61]:
# Filliing NaN values: all of NaNs are in 'How often did this happen?' columns,
# ending on 'a' (like 'e_food/e_hfias/e33a' column) and it looks like the answer was 'I don't know'.
# Keeping these columns instead of dropping them, filling 'no_inf' instead of NaNs.
df_food.fillna('no_inf', inplace = True)

In [63]:
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 44 columns):
e_food/e_fcs/e01       11260 non-null int64
e_food/e_fcs/e02       11260 non-null int64
e_food/e_fcs/e03       11260 non-null int64
e_food/e_fcs/e04       11260 non-null int64
e_food/e_fcs/e05       11260 non-null int64
e_food/e_fcs/e06       11260 non-null int64
e_food/e_fcs/e07       11260 non-null int64
e_food/e_fcs/e08       11260 non-null int64
e_food/e_fcs/e09       11260 non-null int64
e_food/e_hdds/e10      11260 non-null object
e_food/e_hdds/e11      11260 non-null object
e_food/e_hdds/e12      11260 non-null object
e_food/e_hdds/e13      11260 non-null object
e_food/e_hdds/e14      11260 non-null object
e_food/e_hdds/e15      11260 non-null object
e_food/e_hdds/e16      11260 non-null object
e_food/e_hdds/e17      11260 non-null object
e_food/e_hdds/e18      11260 non-null object
e_food/e_hdds/e19      11260 non-null object
e_food/e_hdds/e20      11260 non-null object
e_food/e_hdds/e21      11260 non-null object
e_food/e_hdds/e22      11260 non-null object
e_food/e_hdds/e23      11260 non-null object
e_food/e_hdds/e24      11260 non-null object
e_food/e_hfias/e25     11260 non-null object
e_food/e_hfias/e25a    11260 non-null object
e_food/e_hfias/e26     11260 non-null object
e_food/e_hfias/e26a    11260 non-null object
e_food/e_hfias/e27     11260 non-null object
e_food/e_hfias/e27a    11260 non-null object
e_food/e_hfias/e28     11260 non-null object
e_food/e_hfias/e28a    11260 non-null object
e_food/e_hfias/e29     11260 non-null object
e_food/e_hfias/e29a    11260 non-null object
e_food/e_hfias/e30     11260 non-null object
e_food/e_hfias/e30a    11260 non-null object
e_food/e_hfias/e31     11260 non-null object
e_food/e_hfias/e31a    11260 non-null object
e_food/e_hfias/e32     11260 non-null object
e_food/e_hfias/e32a    11260 non-null object
e_food/e_hfias/e33     11260 non-null object
e_food/e_hfias/e33a    11260 non-null object
e_food/e34             11260 non-null object
e_food/e35             11260 non-null object
dtypes: int64(9), object(35)
memory usage: 3.8+ MB

##### 5. Access to basic servicies

In [64]:
df_servicies = df.loc[:, 'f_access/f_lit/f01a':'f_access/f11_other']

In [65]:
df_servicies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 82 columns):
f_access/f_lit/f01a                   11103 non-null float64
f_access/f_lit/f01b                   11043 non-null float64
f_access/f_lit/f01a1                  238 non-null object
f_access/f_lit/f01a1/ill_noschoolg    238 non-null float64
f_access/f_lit/f01a1/ill_fam          238 non-null float64
f_access/f_lit/f01a1/ill_money        238 non-null float64
f_access/f_lit/f01a1/ill_far          238 non-null float64
f_access/f_lit/f01a1/ill_workh        238 non-null float64
f_access/f_lit/f01a1/ill_workinc      238 non-null float64
f_access/f_lit/f01a1/ill_language     238 non-null float64
f_access/f_lit/f01a1/ill_tazkera      238 non-null float64
f_access/f_lit/f01a1/ill_neglected    238 non-null float64
f_access/f_lit/f01a1/other            238 non-null float64
f_access/f_lit/f01a1_other            0 non-null float64
f_access/f_lit/f01b1                  42 non-null object
f_access/f_lit/f01b1/ill_noschoolg    42 non-null float64
f_access/f_lit/f01b1/ill_fam          42 non-null float64
f_access/f_lit/f01b1/ill_money        42 non-null float64
f_access/f_lit/f01b1/ill_far          42 non-null float64
f_access/f_lit/f01b1/ill_workh        42 non-null float64
f_access/f_lit/f01b1/ill_workinc      42 non-null float64
f_access/f_lit/f01b1/ill_language     42 non-null float64
f_access/f_lit/f01b1/ill_tazkera      42 non-null float64
f_access/f_lit/f01b1/ill_neglected    42 non-null float64
f_access/f_lit/f01b1/other            42 non-null float64
f_access/f_lit/f01b1_other            0 non-null float64
f_access/f02a                         11260 non-null object
f_access/f02a_other                   925 non-null object
f_access/f02b                         11260 non-null object
f_access/f02b_other                   679 non-null object
f_access/f03                          11260 non-null object
f_access/f03a                         731 non-null object
f_access/f03a_other                   15 non-null object
f_access/f04                          11260 non-null object
f_access/f04_other                    111 non-null object
f_access/f04a                         9532 non-null object
f_access/f04b                         955 non-null object
f_access/f04c                         948 non-null object
f_access/f04c_other                   6 non-null object
f_access/f05                          11260 non-null object
f_access/f05_other                    3 non-null object
f_access/f06                          11260 non-null object
f_access/f06a                         36 non-null object
f_access/f06b                         11260 non-null object
f_access/f06c                         11260 non-null object
f_access/f07                          11260 non-null object
f_access/f07a                         1538 non-null float64
f_access/f07a1                        1421 non-null object
f_access/f07a1/taz_useful             1421 non-null float64
f_access/f07a1/taz_needed             1421 non-null float64
f_access/f07a1/taz_expensive          1421 non-null float64
f_access/f07a1/taz_knowledge          1421 non-null float64
f_access/f07a1/taz_lengthy            1421 non-null float64
f_access/f07a1/taz_origin             1421 non-null float64
f_access/f07a1/other                  1421 non-null float64
f_access/f07a1_other                  5 non-null object
f_access/f07b                         1498 non-null float64
f_access/f07b1                        1144 non-null object
f_access/f07b1/taz_useful             1144 non-null float64
f_access/f07b1/taz_needed             1144 non-null float64
f_access/f07b1/taz_expensive          1144 non-null float64
f_access/f07b1/taz_knowledge          1144 non-null float64
f_access/f07b1/taz_lengthy            1144 non-null float64
f_access/f07b1/taz_origin             1144 non-null float64
f_access/f07b1/other                  1144 non-null float64
f_access/f07b1_other                  17 non-null object
f_access/f08                          1500 non-null object
f_access/f09                          11260 non-null object
f_access/f10                          11260 non-null object
f_access/f10_other                    75 non-null object
f_access/f11                          11260 non-null object
f_access/f11/hissue_lack              11260 non-null bool
f_access/f11/hissue_long              11260 non-null bool
f_access/f11/hissue_cost              11260 non-null bool
f_access/f11/hissue_qualified         11260 non-null bool
f_access/f11/hissue_med               11260 non-null bool
f_access/f11/hissue_femdoc            11260 non-null bool
f_access/f11/hissue_femnurse          11260 non-null bool
f_access/f11/hissue_all               11260 non-null bool
f_access/f11/hissue_none              11260 non-null bool
f_access/f11/other                    11260 non-null bool
f_access/f11_other                    50 non-null object
dtypes: bool(10), float64(40), object(32)
memory usage: 6.3+ MB

In [74]:
# In progress...

##### 6. Assets

In [103]:
df_assets = df.loc[:, 'g_social/g01':'h_assets/h23']

In [104]:
df_assets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 39 columns):
g_social/g01                      11260 non-null object
h_assets/h01                      11260 non-null object
h_assets/h01_other                344 non-null object
h_assets/h01a                     11260 non-null int64
h_assets/h02                      11260 non-null object
h_assets/h03                      1387 non-null object
h_assets/h03_other                0 non-null float64
h_assets/h04                      11260 non-null object
h_assets/h04/livestock_cattle     11260 non-null bool
h_assets/h04/livestock_buffalo    11260 non-null bool
h_assets/h04/livestock_horse      11260 non-null bool
h_assets/h04/livestock_donkey     11260 non-null bool
h_assets/h04/livestock_mule       11260 non-null bool
h_assets/h04/livestock_poultry    11260 non-null bool
h_assets/h04/livestock_goat       11260 non-null bool
h_assets/h04/livestock_sheep      11260 non-null bool
h_assets/h04/livestock_none       11260 non-null bool
h_assets/h04/other                11260 non-null bool
h_assets/h04_other                134 non-null object
h_assets/h_dai/h_dai_lab          0 non-null float64
h_assets/h_dai/h05                11260 non-null object
h_assets/h_dai/h06                11260 non-null object
h_assets/h_dai/h07                11260 non-null object
h_assets/h_dai/h08                11260 non-null object
h_assets/h_dai/h09                11260 non-null object
h_assets/h_dai/h10                11260 non-null object
h_assets/h_dai/h11                11260 non-null object
h_assets/h_dai/h12                11260 non-null object
h_assets/h_dai/h13                11260 non-null object
h_assets/h_dai/h14                11260 non-null object
h_assets/h_dai/h15                11260 non-null object
h_assets/h_dai/h16                11260 non-null object
h_assets/h_dai/h17                11260 non-null object
h_assets/h18                      11260 non-null object
h_assets/h19                      11260 non-null object
h_assets/h20                      11260 non-null object
h_assets/h21                      11260 non-null object
h_assets/h22                      11260 non-null object
h_assets/h23                      11260 non-null object
dtypes: bool(10), float64(2), int64(1), object(26)
memory usage: 2.6+ MB

In [105]:
df_assets.head()

,g_social/g01,h_assets/h01,h_assets/h01_other,h_assets/h01a,h_assets/h02,h_assets/h03,h_assets/h03_other,h_assets/h04,h_assets/h04/livestock_cattle,h_assets/h04/livestock_buffalo,...,h_assets/h_dai/h14,h_assets/h_dai/h15,h_assets/h_dai/h16,h_assets/h_dai/h17,h_assets/h18,h_assets/h19,h_assets/h20,h_assets/h21,h_assets/h22,h_assets/h23
0,no,shelter_own,NaN,40,yes,deed_formal,NaN,livestock_none,False,False,...,yes,yes,yes,no,yes,yes,no,no,yes,yes
1,no,shelter_own,NaN,30,no,NaN,NaN,livestock_none,False,False,...,no,no,no,no,yes,yes,no,no,no,yes
2,no,shelter_own,NaN,30,no,NaN,NaN,livestock_none,False,False,...,yes,yes,yes,no,yes,yes,no,no,no,yes
3,no,shelter_house,NaN,20,no,NaN,NaN,livestock_none,False,False,...,no,no,no,no,yes,no,no,no,no,yes
4,no,shelter_own,NaN,20,no,NaN,NaN,livestock_none,False,False,...,no,no,no,no,yes,yes,no,no,yes,yes

In [106]:
# dropping empty or duplicated columns
df_assets.drop(['h_assets/h01_other', 'h_assets/h03_other', 
'h_assets/h04/livestock_cattle', 'h_assets/h04/livestock_buffalo',
'h_assets/h04/livestock_horse', 'h_assets/h04/livestock_donkey',
'h_assets/h04/livestock_mule', 'h_assets/h04/livestock_poultry',
'h_assets/h04/livestock_goat', 'h_assets/h04/livestock_sheep',
'h_assets/h04/livestock_none','h_assets/h04/other',
'h_assets/h04_other','h_assets/h_dai/h_dai_lab'], axis=1, inplace = True)

In [107]:
# the most commo value of 'h_assets/h03'
df_assets['h_assets/h03'].mode(dropna=True)

0    deed_formal
dtype: object

In [108]:
# For 'yes' values in 'h_assets/h02'(Do you own land?) 
# fill NaN values in 'h_assets/h03'(Do you have a land deed for that land?) 
# with 'deed_formal'.

df_assets.loc[(df_assets['h_assets/h02']=='yes') & (df_assets['h_assets/h03'].isnull()), 'h_assets/h03']='deed_formal'

In [109]:
# For 'no' values in 'h_assets/h02'(Do you own land?) 
# fill NaN values in 'h_assets/h03'(Do you have a land deed for that land?) 
# with 'na_no_land'(not applicable, no land).

df_assets.loc[(df_assets['h_assets/h02']=='no') & (df_assets['h_assets/h03'].isnull()), 'h_assets/h03']='na_no_land'

In [110]:
df_assets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 25 columns):
g_social/g01          11260 non-null object
h_assets/h01          11260 non-null object
h_assets/h01a         11260 non-null int64
h_assets/h02          11260 non-null object
h_assets/h03          11260 non-null object
h_assets/h04          11260 non-null object
h_assets/h_dai/h05    11260 non-null object
h_assets/h_dai/h06    11260 non-null object
h_assets/h_dai/h07    11260 non-null object
h_assets/h_dai/h08    11260 non-null object
h_assets/h_dai/h09    11260 non-null object
h_assets/h_dai/h10    11260 non-null object
h_assets/h_dai/h11    11260 non-null object
h_assets/h_dai/h12    11260 non-null object
h_assets/h_dai/h13    11260 non-null object
h_assets/h_dai/h14    11260 non-null object
h_assets/h_dai/h15    11260 non-null object
h_assets/h_dai/h16    11260 non-null object
h_assets/h_dai/h17    11260 non-null object
h_assets/h18          11260 non-null object
h_assets/h19          11260 non-null object
h_assets/h20          11260 non-null object
h_assets/h21          11260 non-null object
h_assets/h22          11260 non-null object
h_assets/h23          11260 non-null object
dtypes: int64(1), object(24)
memory usage: 2.1+ MB

##### 10. Interest to participate in the program

In [26]:
#slice interest section from main dataframe
df_interest = df.loc[:, 'k_interest/k01':'k_interest/k_participate/k05/ben_men']

In [27]:
df_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 17 columns):
k_interest/k01                                11260 non-null object
k_interest/k_participate/k_note               0 non-null float64
k_interest/k_participate/k_label              0 non-null float64
k_interest/k_participate/k_label/ben_women    0 non-null float64
k_interest/k_participate/k_label/ben_men      0 non-null float64
k_interest/k_participate/k02                  5137 non-null object
k_interest/k_participate/k02/ben_women        5137 non-null float64
k_interest/k_participate/k02/ben_men          5137 non-null float64
k_interest/k_participate/k03                  7306 non-null object
k_interest/k_participate/k03/ben_women        7306 non-null float64
k_interest/k_participate/k03/ben_men          7306 non-null float64
k_interest/k_participate/k04                  8926 non-null object
k_interest/k_participate/k04/ben_women        8926 non-null float64
k_interest/k_participate/k04/ben_men          8926 non-null float64
k_interest/k_participate/k05                  4000 non-null object
k_interest/k_participate/k05/ben_women        4000 non-null float64
k_interest/k_participate/k05/ben_men          4000 non-null float64
dtypes: float64(12), object(5)
memory usage: 1.5+ MB

In [28]:
# dropping empty columns
df_interest_cleaned = df_interest.drop(['k_interest/k_participate/k_note', 'k_interest/k_participate/k_label', 'k_interest/k_participate/k_label/ben_women', 'k_interest/k_participate/k_label/ben_men', 'k_interest/k_participate/k02/ben_women', 'k_interest/k_participate/k02/ben_men', 'k_interest/k_participate/k03/ben_women', 'k_interest/k_participate/k03/ben_men', 'k_interest/k_participate/k04/ben_women', 'k_interest/k_participate/k04/ben_men', 'k_interest/k_participate/k05/ben_women', 'k_interest/k_participate/k05/ben_men'], axis=1)

In [29]:
df_interest_cleaned.columns

Index(['k_interest/k01', 'k_interest/k_participate/k02',
       'k_interest/k_participate/k03', 'k_interest/k_participate/k04',
       'k_interest/k_participate/k05'],
      dtype='object')

In [30]:
df_interest_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 5 columns):
k_interest/k01                  11260 non-null object
k_interest/k_participate/k02    5137 non-null object
k_interest/k_participate/k03    7306 non-null object
k_interest/k_participate/k04    8926 non-null object
k_interest/k_participate/k05    4000 non-null object
dtypes: object(5)
memory usage: 439.9+ KB

In [31]:
df_interest_cleaned[df_interest_cleaned['k_interest/k01']=='no'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1311 entries, 5 to 11237
Data columns (total 5 columns):
k_interest/k01                  1311 non-null object
k_interest/k_participate/k02    0 non-null object
k_interest/k_participate/k03    0 non-null object
k_interest/k_participate/k04    0 non-null object
k_interest/k_participate/k05    0 non-null object
dtypes: object(5)
memory usage: 61.5+ KB

In [32]:
# Rows with 'no'(people who doesn't want to participate in the program) 
# have NaN values in other columns as well. 
# Changing those 'Nan' to 'not_participating'. 
df_interest_cleaned[df_interest_cleaned['k_interest/k01']=='no'] = df_interest_cleaned[df_interest_cleaned['k_interest/k01']=='no'].fillna('not_participating')

In [33]:
df_interest_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11260 entries, 0 to 11259
Data columns (total 5 columns):
k_interest/k01                  11260 non-null object
k_interest/k_participate/k02    6448 non-null object
k_interest/k_participate/k03    8617 non-null object
k_interest/k_participate/k04    10237 non-null object
k_interest/k_participate/k05    5311 non-null object
dtypes: object(5)
memory usage: 439.9+ KB

In [34]:
df_interest_cleaned

,k_interest/k01,k_interest/k_participate/k02,k_interest/k_participate/k03,k_interest/k_participate/k04,k_interest/k_participate/k05
0,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_men
1,yes,ben_women,NaN,ben_women,ben_women
2,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
3,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
4,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
5,no,not_participating,not_participating,not_participating,not_participating
6,yes,ben_women,ben_women,ben_women,NaN
7,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_men
8,yes,ben_women ben_men,ben_women,ben_women ben_men,NaN
9,yes,NaN,ben_women,ben_women,NaN
10,yes,ben_women,ben_women ben_men,ben_women ben_men,ben_men
11,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_men
12,yes,NaN,NaN,NaN,NaN
13,no,not_participating,not_participating,not_participating,not_participating
14,no,not_participating,not_participating,not_participating,not_participating
15,no,not_participating,not_participating,not_participating,not_participating
16,yes,NaN,NaN,NaN,NaN
17,yes,NaN,NaN,NaN,NaN
18,yes,NaN,NaN,NaN,NaN
19,yes,NaN,NaN,NaN,NaN
20,yes,ben_women,ben_women,ben_women,NaN
21,yes,ben_women,ben_women,ben_women,NaN
22,yes,ben_women,NaN,ben_women,NaN
23,yes,NaN,NaN,NaN,NaN
24,yes,NaN,NaN,NaN,NaN
25,yes,NaN,NaN,NaN,NaN
26,yes,NaN,NaN,NaN,NaN
27,yes,NaN,NaN,NaN,NaN
28,yes,NaN,ben_women,ben_women,NaN
29,yes,NaN,ben_women,ben_women ben_men,ben_women
...,...,...,...,...,...
11230,yes,NaN,NaN,NaN,ben_women
11231,yes,NaN,NaN,ben_women,NaN
11232,yes,NaN,NaN,NaN,ben_women
11233,yes,NaN,NaN,ben_women,NaN
11234,yes,NaN,NaN,ben_women,NaN
11235,no,not_participating,not_participating,not_participating,not_participating
11236,no,not_participating,not_participating,not_participating,not_participating
11237,no,not_participating,not_participating,not_participating,not_participating
11238,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11239,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11240,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11241,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11242,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11243,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11244,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11245,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11246,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11247,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11248,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11249,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11250,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11251,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11252,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11253,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11254,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11255,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11256,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11257,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11258,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
11259,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men

In [35]:
#Dealing with the rest of NaN values.
#In many rows NaN values are only in some columns, 
#which means the interest of participation only in chosen activities. 
#I'll put 'not_interested' instead of 'NaN'. 
df_interest_cleaned = df_interest_cleaned.fillna('not_interested')

In [36]:
# renaming columns
df_interest_cleaned = df_interest_cleaned.rename(index=str, columns={'k_interest/k01': 'interested', 'k_interest/k_participate/k02': 'int_self_help_learning_groups', 'k_interest/k_participate/k03': 'int_literacy_trainings', 'k_interest/k_participate/k04': 'int_vocational_trainings', 'k_interest/k_participate/k05': 'int_community_led_micro_finance_banks'})

In [37]:
df_interest_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11260 entries, 0 to 11259
Data columns (total 5 columns):
interested                               11260 non-null object
int_self_help_learning_groups            11260 non-null object
int_literacy_trainings                   11260 non-null object
int_vocational_trainings                 11260 non-null object
int_community_led_micro_finance_banks    11260 non-null object
dtypes: object(5)
memory usage: 527.8+ KB

In [39]:
df_interest_cleaned.head()

,interested,int_self_help_learning_groups,int_literacy_trainings,int_vocational_trainings,int_community_led_micro_finance_banks
0,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_men
1,yes,ben_women,not_interested,ben_women,ben_women
2,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
3,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men
4,yes,ben_women ben_men,ben_women ben_men,ben_women ben_men,ben_women ben_men

##### Future analysis

In [38]:
# Most of the data is categorical. 
# For future analysis define a function that converts given categorical columns into dummies.
def convert_col_dummies(columns, df):
    for col in columns:
        new = df[col].str.get_dummies(sep=' ').rename(lambda x: col + '_' + x, axis='columns')
        df = df.join(new)
    return df.drop(columns, axis=1)